<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <img src = "{{product.image}}" alt = "Product from Kaspi" width = "250" height = "300" ><br>
   
  <p>{{ product.description }}</p>
  
  <a href = "https://t.me/share/url?url={{product.link}}&text={text}"><img src = "https://clipground.com/images/telegram-app-logo-png-3.png" alt ="Telegram" height = "50" style = "margin-top: 20px;">  </a>
  <a href="https://api.whatsapp.com/send?phone=whatsappphonenumber&text={{product.link}}"><img src = "https://clipground.com/images/descargar-logo-de-whatsapp-png-2.png" alt = "Whatsapp" height = "50" style = "margin-left: 20px; margin-top: -50px"></a>
  <div class = "button"> <button type="button"(click)="addToCart(product)"> Buy </button> </div>
</div>